node-red-files/flows.json
[{"id":"ac91da3e.1d84f8","type":"tab","label":"Hello World","disabled":false,"info":""},{"id":"f7f22982.c9b5c8","type":"tab","label":"Inputs","disabled":false,"info":""},{"id":"d1904a07.669468","type":"tab","label":"Outputs","disabled":false,"info":""},{"id":"dea5d771.0a15a8","type":"arduino-board","z":"","device":"/dev/ttyACM0"},{"id":"5b048bd2.04e854","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a694f161.bc78c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"3757498a.c18516","type":"ui_group","z":"","name":"Commands","tab":"a694f161.bc78c","disp":true,"width":"6"},{"id":"156b093b.a5ffc7","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8752572f.8d3738","type":"inject","z":"ac91da3e.1d84f8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":140,"y":120,"wires":[["3f5ec3f0.13d1bc"]]},{"id":"3f5ec3f0.13d1bc","type":"arduino out","z":"ac91da3e.1d84f8","name":"","pin":"13","state":"OUTPUT","arduino":"dea5d771.0a15a8","x":300,"y":150,"wires":[]},{"id":"9e34a193.2082f","type":"inject","z":"ac91da3e.1d84f8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":140,"y":180,"wires":[["3f5ec3f0.13d1bc"]]},{"id":"7d72a43b.f075dc","type":"arduino in","z":"f7f22982.c9b5c8","name":"D7","pin":"7","state":"INPUT","arduino":"dea5d771.0a15a8","x":140,"y":135,"wires":[["c2d47448.89c518"]]},{"id":"1fd44e0b.a8ff42","type":"arduino in","z":"f7f22982.c9b5c8","name":"D8","pin":"8","state":"INPUT","arduino":"dea5d771.0a15a8","x":140,"y":200,"wires":[["c2d47448.89c518"]]},{"id":"343c3462.9cca5c","type":"mqtt out","z":"f7f22982.c9b5c8","name":"","topic":"","qos":"","retain":"","broker":"5b048bd2.04e854","x":570,"y":170,"wires":[]},{"id":"4bde8d68.552544","type":"arduino in","z":"f7f22982.c9b5c8","name":"A0","pin":"0","state":"ANALOG","arduino":"dea5d771.0a15a8","x":138.00001525878906,"y":373.000018119812,"wires":[["7bd62af3.2608d4"]]},{"id":"dfbfb9ac.5b2638","type":"arduino in","z":"f7f22982.c9b5c8","name":"A1","pin":"1","state":"ANALOG","arduino":"dea5d771.0a15a8","x":140,"y":450,"wires":[["7bd62af3.2608d4"]]},{"id":"eb094cec.8fca1","type":"arduino in","z":"f7f22982.c9b5c8","name":"A2","pin":"2","state":"ANALOG","arduino":"dea5d771.0a15a8","x":140,"y":530,"wires":[["7bd62af3.2608d4"]]},{"id":"c76ba683.8a8fb8","type":"mqtt out","z":"f7f22982.c9b5c8","name":"","topic":"","qos":"","retain":"","broker":"5b048bd2.04e854","x":790,"y":450,"wires":[]},{"id":"a2e659e1.eceba8","type":"debug","z":"f7f22982.c9b5c8","name":"","active":false,"console":"false","complete":"true","x":780,"y":540,"wires":[]},{"id":"7bd62af3.2608d4","type":"delay","z":"f7f22982.c9b5c8","name":"","pauseType":"timed","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":360,"y":450,"wires":[["927f25ae.254c78"]]},{"id":"12a468cc.313ea7","type":"mqtt in","z":"d1904a07.669468","name":"","topic":"rpdlite/+/cmd/#","qos":"2","broker":"5b048bd2.04e854","x":120,"y":200,"wires":[["d85a851a.7ebf38"]]},{"id":"ff28067d.6933b8","type":"function","z":"d1904a07.669468","name":"Filter","func":"device = global.get('os').hostname();\ntopic = msg.topic.split('/');\nmsg.topic = topic[4];\nmsg.payload = msg.payload.value;\nif (topic[1] != device) return null;\nif (topic[3] == 'digital') return [msg, null, null];\nif (topic[3] == 'analog') return [null, msg, null];\nif (topic[3] == 'servo') return [null, null, msg];\nreturn msg;\n","outputs":"3","noerr":0,"x":255,"y":305,"wires":[["fb4b659a.167598"],["ed38c22c.1a17c"],[]],"outputLabels":["Digital","Analog","Servo"]},{"id":"fb4b659a.167598","type":"switch","z":"d1904a07.669468","name":"Digital","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"11","vt":"num"},{"t":"eq","v":"12","vt":"num"},{"t":"eq","v":"13","vt":"str"}],"checkall":"true","outputs":4,"x":395,"y":265,"wires":[["7a376831.551dc8"],["98f2b27a.da80e"],["42cce299.670c4c"],["c5fb09ef.cb6128"]]},{"id":"d85a851a.7ebf38","type":"json","z":"d1904a07.669468","name":"","pretty":false,"x":115,"y":305,"wires":[["ff28067d.6933b8"]]},{"id":"ed38c22c.1a17c","type":"switch","z":"d1904a07.669468","name":"Analog PWM","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"}],"checkall":"true","outputs":3,"x":425,"y":495,"wires":[["667dce0.dd8f034"],["15dd6dc5.5ec4d2"],["2134e273.a0d60e"]]},{"id":"15dd6dc5.5ec4d2","type":"arduino out","z":"d1904a07.669468","name":"D5 PWM","pin":"5","state":"PWM","arduino":"dea5d771.0a15a8","x":865,"y":500,"wires":[]},{"id":"2134e273.a0d60e","type":"arduino out","z":"d1904a07.669468","name":"D6 PWM","pin":"6","state":"PWM","arduino":"dea5d771.0a15a8","x":865,"y":560,"wires":[]},{"id":"c5fb09ef.cb6128","type":"arduino out","z":"d1904a07.669468","name":"D13","pin":"13","state":"OUTPUT","arduino":"dea5d771.0a15a8","x":855,"y":365,"wires":[]},{"id":"9af0e2e8.3c4cf","type":"mqtt out","z":"ac91da3e.1d84f8","name":"","topic":"","qos":"","retain":"","broker":"5b048bd2.04e854","x":550,"y":310,"wires":[]},{"id":"9162858b.6fdbe8","type":"inject","z":"ac91da3e.1d84f8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":140,"y":280,"wires":[["e87d9a0d.33ead8"]]},{"id":"5b978fcf.c3b4","type":"inject","z":"ac91da3e.1d84f8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":140,"y":340,"wires":[["e87d9a0d.33ead8"]]},{"id":"a0aa8d55.7e806","type":"comment","z":"ac91da3e.1d84f8","name":"Control D13 (LED) via MQTT","info":"","x":180,"y":240,"wires":[]},{"id":"f2ed2cfd.9de86","type":"comment","z":"ac91da3e.1d84f8","name":"Control D13 (LED) directly","info":"","x":170,"y":60,"wires":[]},{"id":"2380a307.0cfebc","type":"ui_switch","z":"ac91da3e.1d84f8","name":"","label":"LED 13","group":"3757498a.c18516","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":145,"y":450,"wires":[["52aafe5d.2ddb4"]]},{"id":"52aafe5d.2ddb4","type":"arduino out","z":"ac91da3e.1d84f8","name":"","pin":"13","state":"OUTPUT","arduino":"dea5d771.0a15a8","x":345,"y":450,"wires":[]},{"id":"6c1c6307.83f40c","type":"comment","z":"ac91da3e.1d84f8","name":"Control D13 (LED) via UI (http://<ip address>:1880/ui","info":"","x":265,"y":405,"wires":[]},{"id":"42cce299.670c4c","type":"arduino out","z":"d1904a07.669468","name":"D12","pin":"12","state":"OUTPUT","arduino":"dea5d771.0a15a8","x":855,"y":315,"wires":[]},{"id":"98f2b27a.da80e","type":"arduino out","z":"d1904a07.669468","name":"D11","pin":"11","state":"OUTPUT","arduino":"dea5d771.0a15a8","x":855,"y":265,"wires":[]},{"id":"7a376831.551dc8","type":"arduino out","z":"d1904a07.669468","name":"D10","pin":"10","state":"OUTPUT","arduino":"dea5d771.0a15a8","x":855,"y":215,"wires":[]},{"id":"d6220b04.929478","type":"arduino in","z":"f7f22982.c9b5c8","name":"D9","pin":"9","state":"INPUT","arduino":"dea5d771.0a15a8","x":140,"y":260,"wires":[["c2d47448.89c518"]]},{"id":"22810d8c.073b82","type":"arduino in","z":"f7f22982.c9b5c8","name":"D2","pin":"2","state":"INPUT","arduino":"dea5d771.0a15a8","x":140,"y":70,"wires":[["c2d47448.89c518"]]},{"id":"667dce0.dd8f034","type":"arduino out","z":"d1904a07.669468","name":"D3 PWM","pin":"3","state":"PWM","arduino":"dea5d771.0a15a8","x":860,"y":440,"wires":[]},{"id":"e87d9a0d.33ead8","type":"build-msg","z":"ac91da3e.1d84f8","name":"","msgtype":"cmd","gateway":"","porttype":"digital","address":"13","x":340,"y":310,"wires":[["9af0e2e8.3c4cf"]]},{"id":"c2d47448.89c518","type":"build-msg","z":"f7f22982.c9b5c8","name":"","msgtype":"evt","gateway":"","porttype":"digital","address":"","x":380,"y":170,"wires":[["98fe26e6.598578","343c3462.9cca5c"]]},{"id":"98fe26e6.598578","type":"debug","z":"f7f22982.c9b5c8","name":"","active":false,"console":"false","complete":"true","x":570,"y":240,"wires":[]},{"id":"927f25ae.254c78","type":"build-msg","z":"f7f22982.c9b5c8","name":"","msgtype":"evt","gateway":"","porttype":"analog","address":"","x":600,"y":450,"wires":[["a2e659e1.eceba8","c76ba683.8a8fb8"]]}]