node-red-files/flows.json
[{"id":"ac91da3e.1d84f8","type":"tab","label":"Hello World","disabled":false,"info":""},{"id":"f7f22982.c9b5c8","type":"tab","label":"Inputs","disabled":false,"info":""},{"id":"d1904a07.669468","type":"tab","label":"Outputs","disabled":false,"info":""},{"id":"dea5d771.0a15a8","type":"arduino-board","z":"","device":"/dev/ttyACM0"},{"id":"5b048bd2.04e854","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a694f161.bc78c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"3757498a.c18516","type":"ui_group","z":"","name":"Commands","tab":"a694f161.bc78c","disp":true,"width":"6"},{"id":"8752572f.8d3738","type":"inject","z":"ac91da3e.1d84f8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":140,"y":120,"wires":[["3f5ec3f0.13d1bc"]]},{"id":"3f5ec3f0.13d1bc","type":"arduino out","z":"ac91da3e.1d84f8","name":"","pin":"13","state":"OUTPUT","arduino":"dea5d771.0a15a8","x":300,"y":150,"wires":[]},{"id":"9e34a193.2082f","type":"inject","z":"ac91da3e.1d84f8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":140,"y":180,"wires":[["3f5ec3f0.13d1bc"]]},{"id":"5716e443.4ac57c","type":"arduino in","z":"f7f22982.c9b5c8","name":"D0","pin":"0","state":"INPUT","arduino":"dea5d771.0a15a8","x":140,"y":60,"wires":[["f9ff7b38.9e7268"]]},{"id":"7d72a43b.f075dc","type":"arduino in","z":"f7f22982.c9b5c8","name":"D1","pin":"1","state":"INPUT","arduino":"dea5d771.0a15a8","x":140,"y":135,"wires":[["f9ff7b38.9e7268"]]},{"id":"1fd44e0b.a8ff42","type":"arduino in","z":"f7f22982.c9b5c8","name":"D2","pin":"2","state":"INPUT","arduino":"dea5d771.0a15a8","x":140,"y":210,"wires":[["f9ff7b38.9e7268"]]},{"id":"343c3462.9cca5c","type":"mqtt out","z":"f7f22982.c9b5c8","name":"","topic":"","qos":"","retain":"","broker":"5b048bd2.04e854","x":560,"y":135,"wires":[]},{"id":"f9ff7b38.9e7268","type":"function","z":"f7f22982.c9b5c8","name":"Build Message","func":"pin = msg.topic;\nvalue = msg.payload;\ndevice = global.get('os').hostname();\nmsg.topic = 'rpdlite/' + device + '/evt/digital/' + pin;\nmsg.payload = {\n    device: device,\n    type: 'digital',\n    address: pin,\n    value: value\n};\nreturn msg;","outputs":1,"noerr":0,"x":365,"y":135,"wires":[["343c3462.9cca5c","fb73ef6c.7739d"]]},{"id":"fb73ef6c.7739d","type":"debug","z":"f7f22982.c9b5c8","name":"","active":false,"console":"false","complete":"false","x":580,"y":60,"wires":[]},{"id":"4bde8d68.552544","type":"arduino in","z":"f7f22982.c9b5c8","name":"A0","pin":"0","state":"ANALOG","arduino":"dea5d771.0a15a8","x":140,"y":315,"wires":[["7bd62af3.2608d4"]]},{"id":"dfbfb9ac.5b2638","type":"arduino in","z":"f7f22982.c9b5c8","name":"A1","pin":"1","state":"ANALOG","arduino":"dea5d771.0a15a8","x":140,"y":390,"wires":[["7bd62af3.2608d4"]]},{"id":"eb094cec.8fca1","type":"arduino in","z":"f7f22982.c9b5c8","name":"A2","pin":"2","state":"ANALOG","arduino":"dea5d771.0a15a8","x":140,"y":465,"wires":[["7bd62af3.2608d4"]]},{"id":"c76ba683.8a8fb8","type":"mqtt out","z":"f7f22982.c9b5c8","name":"","topic":"","qos":"","retain":"","broker":"5b048bd2.04e854","x":800,"y":390,"wires":[]},{"id":"99ee4285.abbd6","type":"function","z":"f7f22982.c9b5c8","name":"Build Message","func":"pin = msg.topic;\nvalue = msg.payload;\ndevice = global.get('os').hostname();\nmsg.topic = 'rpdlite/' + device + '/evt/digital/' + pin;\nmsg.payload = {\n    device: device,\n    type: 'digital',\n    address: pin,\n    value: value\n};\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":390,"wires":[["a2e659e1.eceba8"]]},{"id":"a2e659e1.eceba8","type":"debug","z":"f7f22982.c9b5c8","name":"","active":false,"console":"false","complete":"false","x":820,"y":285,"wires":[]},{"id":"7bd62af3.2608d4","type":"delay","z":"f7f22982.c9b5c8","name":"","pauseType":"timed","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":370,"y":390,"wires":[["99ee4285.abbd6"]]},{"id":"12a468cc.313ea7","type":"mqtt in","z":"d1904a07.669468","name":"","topic":"rpdlite/+/cmd/#","qos":"2","broker":"5b048bd2.04e854","x":125,"y":75,"wires":[["d85a851a.7ebf38"]]},{"id":"ff28067d.6933b8","type":"function","z":"d1904a07.669468","name":"Filter","func":"device = global.get('os').hostname();\ntopic = msg.topic.split('/');\nmsg.topic = topic[4];\nmsg.payload = msg.payload.value;\nif (topic[1] != device) return null;\nif (topic[3] == 'digital') return [msg, null, null];\nif (topic[3] == 'analog') return [null, msg, null];\nif (topic[3] == 'servo') return [null, null, msg];\nreturn msg;\n","outputs":"3","noerr":0,"x":455,"y":75,"wires":[["fb4b659a.167598"],["ed38c22c.1a17c"],[]],"outputLabels":["Digital","Analog","Servo"]},{"id":"d2c46e35.b8168","type":"arduino out","z":"d1904a07.669468","name":"D7","pin":"7","state":"OUTPUT","arduino":"dea5d771.0a15a8","x":860,"y":135,"wires":[]},{"id":"fc45ca2a.dc6298","type":"arduino out","z":"d1904a07.669468","name":"D4","pin":"4","state":"OUTPUT","arduino":"dea5d771.0a15a8","x":860,"y":75,"wires":[]},{"id":"a8896b06.4056a8","type":"arduino out","z":"d1904a07.669468","name":"D8","pin":"8","state":"OUTPUT","arduino":"dea5d771.0a15a8","x":860,"y":195,"wires":[]},{"id":"fb4b659a.167598","type":"switch","z":"d1904a07.669468","name":"Digital","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"13","vt":"str"}],"checkall":"true","outputs":4,"x":635,"y":165,"wires":[["fc45ca2a.dc6298"],["d2c46e35.b8168"],["a8896b06.4056a8"],["c5fb09ef.cb6128"]]},{"id":"d85a851a.7ebf38","type":"json","z":"d1904a07.669468","name":"","pretty":false,"x":305,"y":75,"wires":[["ff28067d.6933b8"]]},{"id":"ed38c22c.1a17c","type":"switch","z":"d1904a07.669468","name":"Analog PWM","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"}],"checkall":"true","outputs":3,"x":655,"y":375,"wires":[["19f82bff.5b6bd4"],["15dd6dc5.5ec4d2"],["2134e273.a0d60e"]]},{"id":"19f82bff.5b6bd4","type":"arduino out","z":"d1904a07.669468","name":"D3 PWM","pin":"3","state":"PWM","arduino":"dea5d771.0a15a8","x":870,"y":315,"wires":[]},{"id":"15dd6dc5.5ec4d2","type":"arduino out","z":"d1904a07.669468","name":"D5 PWM","pin":"5","state":"PWM","arduino":"dea5d771.0a15a8","x":870,"y":375,"wires":[]},{"id":"2134e273.a0d60e","type":"arduino out","z":"d1904a07.669468","name":"D6 PWM","pin":"6","state":"PWM","arduino":"dea5d771.0a15a8","x":870,"y":435,"wires":[]},{"id":"c5fb09ef.cb6128","type":"arduino out","z":"d1904a07.669468","name":"D13","pin":"13","state":"OUTPUT","arduino":"dea5d771.0a15a8","x":860,"y":255,"wires":[]},{"id":"9af0e2e8.3c4cf","type":"mqtt out","z":"ac91da3e.1d84f8","name":"","topic":"","qos":"","retain":"","broker":"5b048bd2.04e854","x":500,"y":315,"wires":[]},{"id":"9162858b.6fdbe8","type":"inject","z":"ac91da3e.1d84f8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":140,"y":285,"wires":[["84642782.30a608"]]},{"id":"5b978fcf.c3b4","type":"inject","z":"ac91da3e.1d84f8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":140,"y":345,"wires":[["84642782.30a608"]]},{"id":"84642782.30a608","type":"function","z":"ac91da3e.1d84f8","name":"Build Message","func":"pin = 13;\nvalue = msg.payload;\ndevice = global.get('os').hostname();\nmsg.topic = 'rpdlite/' + device + '/cmd/digital/' + pin;\nmsg.payload = {\n    device: device,\n    type: 'digital',\n    address: pin,\n    value: value\n};\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":315,"wires":[["9af0e2e8.3c4cf"]]},{"id":"a0aa8d55.7e806","type":"comment","z":"ac91da3e.1d84f8","name":"Control D13 (LED) via MQTT","info":"","x":180,"y":240,"wires":[]},{"id":"f2ed2cfd.9de86","type":"comment","z":"ac91da3e.1d84f8","name":"Control D13 (LED) directly","info":"","x":170,"y":60,"wires":[]},{"id":"2380a307.0cfebc","type":"ui_switch","z":"ac91da3e.1d84f8","name":"","label":"LED 13","group":"3757498a.c18516","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":145,"y":450,"wires":[["52aafe5d.2ddb4"]]},{"id":"52aafe5d.2ddb4","type":"arduino out","z":"ac91da3e.1d84f8","name":"","pin":"13","state":"OUTPUT","arduino":"dea5d771.0a15a8","x":345,"y":450,"wires":[]},{"id":"6c1c6307.83f40c","type":"comment","z":"ac91da3e.1d84f8","name":"Control D13 (LED) via UI (http://<ip address>:1880/ui","info":"","x":265,"y":405,"wires":[]}]